Repository emilsvennesson/script.module.inputstreamhelper, pull requests merged in 2021-06, with the labels that each got.

#443 Improve TCMalloc detection
  lib/inputstreamhelper/widevine/arm.py
Labels: arm, enhancement

#447 Prepare for v0.5.5 release
  README.md
  addon.xml
Labels: release

#450 Detect TLS 64-bytes support using libc version
  lib/inputstreamhelper/config.py
  lib/inputstreamhelper/widevine/arm.py
  lib/inputstreamhelper/widevine/widevine.py
  resources/language/resource.language.en_gb/strings.po
Labels: arm, enhancement

#452 Postpone update by 2 days if declined by user
  lib/inputstreamhelper/__init__.py
  resources/settings.xml
Labels: enhancement

#455 Use ldd version to detect TLS 64-byte alignment support
  lib/inputstreamhelper/widevine/arm.py
Labels: arm, enhancement

#454 Prepare for v0.5.6 release
  README.md
  addon.xml
Labels: release
